<!-- CSS -->
<link rel="stylesheet" href="/css/justified-swipebox/justifiedGallery.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/css/swipebox.min.css" integrity="sha512-ih6Xht3ics+Ewow1rR+nSCuWB1Xm3Mul7o+PR71VK6mQ7IWUgypDUo0zEQTUnk717zH6VhvqVCcKLQVGzuE4mQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js" integrity="sha512-qp27nuUylUgwBZJHsmm3W7klwuM5gke4prTvPok3X5zi50y3Mo8cgpeXegWWrdfuXyF2UdLWK/WCb5Mv7CKHcA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/js/jquery.swipebox.min.js" integrity="sha512-RcpE0ybOapw3Pl77Nz/la9grsKWw3MQXBoeiCg1y+psaqTNcSIQ8JYn4p3wG5XakxdyEYl/r22NLp3EYsX4SXg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/justified-swipebox/jquery.justifiedGallery.min.js"></script>